<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form id="url-form">
            <input type="url" id="url-input" placeholder="Enter your URL" required>
            <button type="submit">Shorten</button>
        </form>
        <p id="result"></p>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
